.users-list-block {
  padding: 15px;
  background-color: #fbf4f4;
}

.users-list-block h2 {
  font-size: 1em;
  margin-bottom: 10px;
}

.users-list-block ul {
  list-style-type: none;
  padding: 0;
}

.users-list-block li {
  margin-bottom: 5px;
}
