{#
/**
 * @file
 * Default theme implementation to display a list of users.
 *
 * Available variables:
 * - header: The header text.
 * - users: An array of user data.
 * - empty_msg: The message to display if there are no users.
 */
#}
<div class="users-list-block">
  <h2>{{ header }}</h2>
  {% if users %}
    <ul>
      {% for user in users %}
        <li>{{ user.name }}</li>
      {% endfor %}
    </ul>
  {% else %}
    <p>{{ empty_msg }}</p>
  {% endif %}
</div>
